body {
}

.absolute {
    z-index: 10000;
    position: absolute;
    width:100%;
    top: 300px;
    left: 0px;
}

.testSquare {
    height:100px; 
    width:100px; 
    background-color:lightgreen;
}

.timeLabel {
    font-size: 50px;
    font-family: Calibri;
    color: white;
    display: inline-block;
}